body {
  font-family: "Lexend Deca";
  background-color: rgb(142, 176, 248);
  color: black;
}

h1 {
  text-align: center;
  color: aliceblue;
}
h2 {
  text-decoration-line: underline;
  text-align: center;
}
img.lasagne {
  border-radius: 50%;
  width: 30rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.ingredients {
  border-radius: 3%;
  border: 5px outset rgb(169, 119, 238);
  background-color: rgb(166, 242, 194);
  margin-left: 20%;
  margin-right: 20%;
  padding: 2rem;
  display: block;
  font-size: 20px;
  font-family: "Lexend Deca";
  color: black;
}
.ingredients,
h3,
ul,
li {
  background-color: rgb(166, 242, 194);
}
#homepagefood {
  width: 100%;
  background-image: url(http://s30.postimg.org/x0ne0p5wx/bootsrap.png);
  height: 35rem;
}
@media screen and (min-width: 1200px) {
  #homepagefood {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(142, 176, 248);
  }
}
@media screen and (max-width: 400px) {
  #homepagefood {
    width: 60%;
    height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(142, 176, 248);
  }
}
.button {
  background-color: #eb80f4; /* Green */
  border: none;
  color: white;
  box-shadow: 0 6px #ea12d0;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  background-color: #6c496e;
}

.button:active {
  background-color: #d6b7d9;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
* {
  font-family: "Lexend Deca";
  color: black;
}
.dinners {
  border-radius: 3%;
  border: 5px outset rgb(169, 119, 238);
  background-color: rgb(166, 242, 194);
  margin-left: 20%;
  margin-right: 20%;
  padding: 2rem;
  display: block;
  font-size: 20px;
}
.container {
  border: 5px solid lightblue rgb;
  display: flex;
  flex-direction: column;
}
